<h1>Listing hacks_scopes</h1>

<table>
  <tr>
    <th>Scope id</th>
	<th>HackTag id</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hacks_scopes.each do |hacks_scope| %>
  <tr>
    <td><%= hacks_scope.scope_id %></td>
    <td><%= hacks_scope.hack_tag_id %></td>
    <td><%= link_to 'Show', hacks_scope %></td>
    <td><%= link_to 'Edit', edit_hacks_scope_path(hacks_scope) %></td>
    <td><%= link_to 'Destroy', hacks_scope, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hacks scope', new_hacks_scope_path %>
