<h1>Listing hack_tag_follows</h1>

<table>
  <tr>
    <th>Greater hack tag</th>
    <th>Hack tag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hack_tag_follows.each do |hack_tag_follow| %>
  <tr>
    <td><%= HackTag.find(hack_tag_follow.greater_hack_tag_id).name %>(id:<%= hack_tag_follow.greater_hack_tag_id %>)</td>
    <td><%= HackTag.find(hack_tag_follow.hack_tag_id).name %>(id:<%= hack_tag_follow.hack_tag_id %>)</td>
    <td><%= link_to 'Show', hack_tag_follow %></td>
    <td><%= link_to 'Edit', edit_hack_tag_follow_path(hack_tag_follow) %></td>
    <td><%= link_to 'Destroy', hack_tag_follow, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hack tag follow', new_hack_tag_follow_path %>
