<h1>Listing hack_tags</h1>

<table>
  <tr>
	<th>ID</th>
    <th>Name</th>
    <th>Image url</th>
    <th>Next HackTag</th>
    <th>HackTagUsers</th>
	<th>HTU (group_by_id)</th>
	<th></th>
    <th></th>
  </tr>

<% @hack_tags.each do |hack_tag| %>
  <tr>
	<td><%= hack_tag.id %></td>
    <td><%= hack_tag.name %></td>
    <td><%#= image_tag hack_tag.image_url, :size=>'25x25' %></td>
	<td>
	<!--
		<% if HackTagFollow.exists?(:greater_hack_tag_id=>hack_tag.id) %>
			<% HackTagFollow.where(:greater_hack_tag_id=>hack_tag.id).each do |next_hack_tag| %>
				<%#= HackTag.find(next_hack_tag.hack_tag_id).name %>(id:<%#= HackTag.find(next_hack_tag.hack_tag_id).id %>)
			<% end %>
		<% end %>
	-->
	</td>
	<td><%= hack_tag.users.count %></td>
	<td><%= hack_tag.users.group(:id).each.count %></td>
	<td><% dropout = 0 %>
		<% hack_tag.users.each do |user|%>
			<% if user.progres.exists?(:dropout=>true) %>
			<% dropout += 1 %>
			<% end %>
		<% end %>
		<%= dropout %>
	</td>
    <td><%= link_to 'Edit', edit_hack_tag_path(hack_tag) %></td>
    <td><%= link_to 'Destroy', hack_tag, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hack tag', new_hack_tag_path %>
