<h1>Listing hack_tags</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Image url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hack_tags.each do |hack_tag| %>
  <tr>
	<td><%= hack_tag.id %></td>
    <td><%= hack_tag.name %></td>
    <td><%= image_tag hack_tag.image_url %></td>
    <td><%= link_to 'Show', hack_tag %></td>
    <td><%= link_to 'Edit', edit_hack_tag_path(hack_tag) %></td>
    <td><%= link_to 'Destroy', hack_tag, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hack tag', new_hack_tag_path %>
