<div data-role="header" id="Header">
	<h3>何をやってますか？</h3>
	<%= link_to 'ホーム', scopes_path %>
</div>

<p class="notice" style="background:yellow; margin:0; font-weight:bold; padding-left:10px;">
	<%= notice %><%= alert %>
</p>

<div data-role="content">
	<ul data-role="listview">
		<% @scopes.each do |scope| %>
		<li>
			<% link_to(scope, {'style'=>'min-height:40px;'}) do %>
				<span style="margin-left:20px;">
					<%= scope.hack_tags.last.name %>
				</span>
				<%= image_tag scope.image_url, {'class'=>'ui-li-icon'} %>
				<span class="ui-li-desc" style="margin-left:22px; margin-top:2px;">
					70%
				</span>
				<span class="ui-li-aside">
					<% scope.hack_tags.last.users.each do |user| %>
						<% if user.image_url.present? %>
							<%= image_tag user.image_url, :size=>'25x25' %>
						<% else %>
							<%= image_tag 'DummyImageURL.png', :size=>'25x25'%>
						<% end %>
					<% end %>
				</span>
			<% end %>
		</li>
		<% end %>
	</ul>
</div>
