<div data-role="header" id="Header" style="overflow:hidden;">
	<h3>何をやってますか？</h3>
	<%= link_to '戻る', '/scopes#RootHackTags' %>
	<%= link_to 'ホーム', scopes_path, {:class=>'ui-btn-right'} %>
	<div data-role="navbar">
		<ul class="ui-grid-b">
			<li class="ui-block-a"><a href="#"><%= @hack_tag.name %></a></li>
			<li class="ui-block-b"></li>
			<li class="ui-block-c"></li>
		</ul>
	</div>
</div>

<p class="notice" style="background:yellow; margin:0; font-weight:bold; padding-left:10px;">
	<%= notice %><%= alert %>
</p>

<div data-role="content">
	
	<ul data-role="listview">
		<% @scopes.each do |scope| %>
		<li class="changePage" url="/scopes/<%=scope.id%>?from_search=true" data-icon="false">
			<%# link_to(scope_path(scope, :from_search=>"true"), {'style'=>'min-height:40px;'}) do %>
				<span style="margin-left:20px;">
					<%= scope.hack_tags.last.name %>
				</span>
				<%= image_tag scope.image_url, {'class'=>'ui-li-icon'} %>
				<span class="ui-li-desc" style="margin-left:22px; margin-top:2px;">
				</span>
				<span class="ui-li-aside">
					<% scope.hack_tags.last.users.each do |user| %>
						<% if user.image_url.present? %>
							<%= image_tag user.image_url, :size=>'25x25' %>
						<% else %>
							<%= image_tag 'DummyImageURL.png', :size=>'25x25'%>
						<% end %>
					<% end %>
				</span>
			<%# end %>
		</li>
		<% end %>
		<li>
			<% if user_signed_in? %>
			<% form_tag create_hack_tag_and_hacks_scope_hack_tags_path, {:method=>:post} do %>
				<%= hidden_field_tag :wanting_new_tag, true %>
				<%= hidden_field_tag :this_hack_tag_id, @hack_tag.id %>
				<%= hidden_field_tag :singled_by, current_user.id %>
				<%= text_field_tag :name, '', {'placeholder'=>'つくりたい習慣の名前', 'data-theme'=>'e'} %>
				<%= text_field_tag :image_url, '', {'placeholder'=>'URL', 'style'=>'display:none;'}%>
				<%= submit_tag '新規作成', {'data-theme'=>''} %>
			<% end %>
			<% end %>
		</li>
	</ul>
</div>
