<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @hack_tag.name %>
</p>

<p>
  <b>Image url:</b>
  <%= @hack_tag.image_url %>
</p>


<%= link_to 'Edit', edit_hack_tag_path(@hack_tag) %> |
<%= link_to 'Back', hack_tags_path %>
