<%#= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
<h2>新規登録</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :screen_name,'ユーザネーム' %><br />
  <%= f.text_field :screen_name %></div>

  <div><%= f.label :email,'携帯アドレス' %><br />
  <%= f.email_field :email, :placeholder=>"*応援メッセージがこのアドレスに送られます" %></div>

  <div><%= f.label :password,'パスワード' %><br />
  <%= f.password_field :password, :placeholder=>"" %></div>

  <div><%= f.label :password_confirmation, 'パスワードの再確認' %><br />
  <%= f.password_field :password_confirmation, :placeholder=>"" %></div>

  <div><%= f.submit "新規登録" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>


