<%= form_for(@parties_scope) do |f| %>
  <% if @parties_scope.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parties_scope.errors.count, "error") %> prohibited this parties_scope from being saved:</h2>

      <ul>
      <% @parties_scope.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :party_id %><br />
    <%= f.text_field :party_id %>
  </div>
  <div class="field">
    <%= f.label :scope_id %><br />
    <%= f.text_field :scope_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
