<h1>Listing parties_scopes</h1>

<table>
  <tr>
    <th>Party</th>
    <th>Scope</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @parties_scopes.each do |parties_scope| %>
  <tr>
    <td><%= parties_scope.party_id %></td>
    <td><%= parties_scope.scope_id %></td>
    <td><%= link_to 'Show', parties_scope %></td>
    <td><%= link_to 'Edit', edit_parties_scope_path(parties_scope) %></td>
    <td><%= link_to 'Destroy', parties_scope, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Parties scope', new_parties_scope_path %>
