<p id="notice"><%= notice %></p>

<p>
  <b>Party:</b>
  <%= @parties_scope.party_id %>
</p>

<p>
  <b>Scope:</b>
  <%= @parties_scope.scope_id %>
</p>


<%= link_to 'Edit', edit_parties_scope_path(@parties_scope) %> |
<%= link_to 'Back', parties_scopes_path %>
