<h1>アカウント情報</h1>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this progre from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<%= f.label :screen_name, 'スクリーンネーム' %>
    <%= f.text_field :screen_name %>
  </div>
  <div class="field">
	<%= f.label :image_url, 'イメージ画像URL' %>
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
	<%= f.label :email, 'メールアドレス' %>
    <%= f.text_field :email, {'placeholder'=>'応援メッセージを受け取る宛先です。'} %>
  </div>
  <div class="actions">
    <%= f.submit '更新する' %>
  </div>
<% end %>

<%= link_to 'ホームへ戻る', scopes_path %>