<h1>Listing progres</h1>

<%= will_paginate @progres %>

<table>
  <tr>
    <th>Success</th>
	<th>Scope</th>
    <th>Hack tag</th>
    <th>User</th>
    <th>Done when</th>
    <th>Cheered_by</th>
    <th>Comment?</th>
    <th></th>
	<th></th>
	<th></th>
  </tr>

<% @progres.each do |progre| %>
  <tr>
    <td><%= progre.success %></td>
	<td><%= progre.scope_id %></td>
    <td><%= progre.hack_tag_id %></td>
    <td><%= progre.user_id %></td>
    <td><%= progre.done_when %></td>
	<td><%= progre.dropout%><% if progre.dropout == true %>DROPED OUT FOR NOW<% end %></td>
	<td><%= progre.cheered_by %></td>
	<td><%= progre.comment.present? %></td>
    <td><%= link_to 'Show', progre %></td>
    <td><%= link_to 'Edit', edit_progre_path(progre) %></td>
    <td><%= link_to 'Destroy', progre, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Progre', new_progre_path %>
