<p id="notice"><%= notice %></p>

<p>
  <b>Success:</b>
  <%= @progre.success %>
</p>

<p>
  <b>Hack tag:</b>
  <%= @progre.hack_tag_id %>
</p>

<p>
  <b>User:</b>
  <%= @progre.user_id %>
</p>

<p>
  <b>Done when:</b>
  <%= @progre.done_when %>
</p>


<%= link_to 'Edit', edit_progre_path(@progre) %> |
<%= link_to 'Back', progres_path %>
