<h1>You are (not) alone.</h1>

<% if user_signed_in? %>
<h2>ただ今挑戦中</h2>
	<% current_user.scopes.each do |my_scope| %>
		<%= image_tag my_scope.image_url, :size=>'40x40' %>
		<%= my_scope.id %>
		<% my_scope.hack_tags.each do |mhack_tag| %>
			<%= mhack_tag.name %>
		<% end %>
		<%= link_to 'ViewThisScope', my_scope %>
		<%= link_to 'RemoveFromMyScope', my_scope.users_scopes.where(:user_id=>current_user.id).first, :confirm=>'Sure about this?', :method=>:delete %>
	<% end %>
<% end %>

<h2>さぁ、他の挑戦にも旅立とう</h2>
<% Scope.all.each do |scope| %>
	<% if scope.hack_tags.length == 1 %>
	<ul data-role="listview" style="list-style:none; display:inline-block;">
	<li><%= scope.hack_tags.first.name %></li>
	<li><%= link_to 'ViewThis', scope %></li>
	</ul>
	<% end %>
<% end %>