<div data-role="page">

<div data-role="header" id="Header">
	<h1>LazyHackers</h1>
	<% if user_signed_in? %>
		<%= link_to "Sign Out", destroy_user_session_path %>
	<% else %>
		<%= link_to "Sign up here", new_user_registration_path %>
	<% end %>
	<%= link_to "home", scopes_path %>
</div>

<p class="notice" style="background:yellow; margin:0; font-weight:bold; text-align:center;">
<%= notice %>
<%= alert %>
</p>

<div data-role="content">

	<% if user_signed_in? %>
	<ul data-role="listview" data-divider-theme="e" data-split-theme="d" data-split-icon="delete" style="margin-bottom:15px;">
		<li data-role="list-divider">Your Scopes</li>

		<% current_user.scopes.each do |my_scope| %>
		<li>
		<% link_to(my_scope) do %>
			<%= image_tag my_scope.image_url, {'class'=>'ui-li-icon'} %>
			<p style="margin-left:20px; margin-top:0; margin-bottom:2px; font-weight:bold;">
			<% my_scope.hack_tags.each do |mhack_tag| %>
				<%= mhack_tag.name %>
			<% end %>
			</p>
			<p class="ui-li-desc" style="margin-left:20px; margin-top:0; margin-bottom:0;">
				<% 5.times do %>
				<%= image_tag 'DummyImageURL.png', :size=>'25x25' %>
				<% end %>
			</p>
		<% end %>
		<%= link_to 'RemoveFromMyScope', my_scope.users_scopes.where(:user_id=>current_user.id).first, :confirm=>'Sure about this?', :method=>:delete %>
		</li>
		<% end %>
	</ul>
	<% end %>

	<% if user_signed_in? %>
	<ul data-role="listview" data-divider-theme="e">
		<li data-role="list-divider">さぁ、他の挑戦にも旅立とう</li>
	<% else %>
	<ul data-role="listview" data-divider-theme="e">
		<li data-role="list-divider">さぁ、様々な挑戦に旅立とう</li>
	<% end %>
	
	<% @scopes.each do |scope, size| %>
		<li style="">
			<% link_to(scope) do %>
				<%= image_tag scope.hack_tags.first.image_url, {'class'=>'ui-li-thumb'}%>
					<%= scope.hack_tags.first.name %>
			<% end %>
		</li>
	<% end %>
	</ul>
</div>

<div data-role="footer" id="Footer">
	<%= link_to 'Sign Out', destroy_user_session_path %>
</div>

</div>
