<div data-role="page" id="YourScope" style="overflow:hidden;">
	<div data-role="header" id="Header">
	<% if user_signed_in? %>
		<h1>LazyHackers</h1>
		<% name = current_user.screen_name %>
		<%= link_to "ログアウト", destroy_user_session_path %>
		<%= link_to name, edit_user_path(current_user) %>
	<% else %>
		<h1>LazyHackers</h1>
		<span data-role="button" class="changeToSignInPage" style="position:absolute; top:.4em;">
			ログイン
		</span>
		<%#= link_to "ログイン", new_user_session_path, {:class=>'changePage'} %>
		<%= link_to "ホーム", scopes_path, {:class=>'ui-btn-right'} %>
	<% end %>
	</div>
	
	<p class="notice" style="background:yellow; margin:0; font-weight:bold; padding-left:10px;">
		<%= notice %><%= alert %>
	</p>
	
	<div data-role="content">
	
	<%# HackTag.check_exit(HackTag.all) %>
	<%# Scope.insert_image_from_hack_tag(Scope.all) %>
	<%# UsersHacktag.update_from_progres(Progre.all) %>
	<%# Progre.check_dropout(User.all, HackTag.all) %>
	<%# Progre.from_party_id_to_scope_id %>
	<%# Progre.from_party_id_to_hack_tag_id %>

	<ul data-role="listview" data-divider-theme="e" data-split-theme="d" style="margin-bottom:15px;">
		<% if @noti_progres.count >= 1 %>
		<div data-role="collapsible-set">
			<h3 style="margin:0 0 0 12px; font-weight:normal; font-size:14px;">未読ニュース! <span style="float:right;"><%= link_to '一言送る', my_feedback_scopes_path %> | <%= link_to '全部見る', notifications_progres_path %></span>
			</h3>
			<% @noti_progres.each do |notification| %>
			<div data-role="collapsible">
				<h4><%= truncate notification.comment, :length=>18 %></h4>
				<%# if notification.comment.length > 12 %>
				<p>
					<%= notification.comment %>
				</p>
				<%# end %>
				<% form_for notification do |f| %>
					<%= f.hidden_field :done_when, {'value'=>Time.now}%>
					<%= f.hidden_field :success, {'value'=>true} %>
					<%= f.submit '分かったよ' %>
				<% end %>
			</div>
			<% end %>
		</div>
		<% end %>
	<% if user_signed_in? && current_user.scopes.length > 0 %>
	<!--
	<div data-role="navbar" data-theme="e">
		<ul>
			<li><a href="#"　data-theme="e">ただ今 参加中</a></li>
			<li><a href="#" data-theme="c">他にも探す</a></li>
		</ul>
	</div>
	-->
		<li data-role="list-divider">ただ今 参加中</li>

		<% @my_scopes.each do |my_scope, tf| %>
		<li class="changePage" url="scopes/<%=my_scope.id%>" data-icon="false" style="padding-right:0px;">
		<%# link_to(my_scope) do %>
			<%= image_tag my_scope.image_url, {'class'=>'ui-li-icon', 'style'=>'width:35px; margin-top:-9px;'} %>
			<p style="margin-left:10px; margin-top:0; display:inline-block; margin-bottom:2px; font-weight:bold;">
			<% my_scope.hack_tags.each_with_index do |mhack_tag, i| %>
				<% if i > 0  %><%= mhack_tag.name %><% end %>
				<% if mhack_tag.root_flag == true && my_scope.hack_tags.where('root_flag IS NULL OR root_flag = ?', false).count == 0 %>
					<%= mhack_tag.name %>
				<% end %>
			<% end %>
			</p>
			<p class="ui-li-aside" style="width:30%;">
				<%= link_to '休止?', my_scope.users_scopes.where(:user_id=>current_user.id).first, {:confirm=>'このセットを休止しますか？', :method=>:delete, 'style'=>'display:inline-block; color:gray; font-size:11px;'} %>
				<span style="">
					<% if tf %><%= image_tag 'button_done.png', :size=>'50x25' %><%else%><%= image_tag 'button_undone.png', :size=>'50x25' %><% end %>
				</span>
			</p>
		<%# end %>
		</li>
		<% end %>
	<li data-theme="e"><a href="#RootHackTags">他にも探す</a></li>
	</ul>
	<% else %>
	<li data-role="list-divider">何を習慣にしましょうか？</li>
	</ul>
	<ul data-role="listview" data-divider-theme="e">
	<% @root_hack_tags.each do |root_hack_tag| %>
		<li style="" class="changePage" url="hack_tags/<%=root_hack_tag.id%>">
			<%# link_to(root_hack_tag) do %>
				<%= image_tag root_hack_tag.image_url, {'class'=>'ui-li-thumb'}%>
				<h3>
					<%= root_hack_tag.name %>
				</h3>
				
				<p style="margin-top:5px;">
					<% HackTagFollow.where(:greater_hack_tag_id=>root_hack_tag.id).each do |hacktagfollow| %>
						<%= HackTag.find(hacktagfollow.hack_tag_id).name %>, 
					<% end %>
				</p>
			<%# end %>
		</li>
	<% end %>
	</ul>
	<% end %>

	<% if user_signed_in? %>
	<ul data-role="listview" data-divider-theme="e" style="margin-top:10px; margin-bottom:15px;">
		<li data-role="list-divider">
				タイムライン
		</li>
	</ul>
	<ul data-role="listview" data-inset="true" style="" data-divider-theme="e" data-filter-placeholder="絞り込み検索" data-filter="true">
		<% @date_and_feeds.each do |date, progres| %>
			<li data-role="list-divider" data-theme="e" style="height: 10px;">
				<span style="float:right;">
					<%= date %>
				</span>
			</li>
			<% progres.each do |progre| %>
				<%# if date[0] == progre.done_when.strftime("%Y %m %d") %>
				<% if progre.scope_id %>
				<li class="changePage" url="scopes/<%=progre.scope_id%>">
				<% else %>
				<li>
				<% end %>
				<%# link_to (Scope.find(progre.scope_id)) do %>
					<%= image_tag 'brightness_from_glyphish.png', {'class'=>'ui-li-icon'}%>
					<h4 style="display:inline-block; margin:5px 0 0 0; font-size:90%;"><%= progre.done_when.hour %>時ごろ
</h4>
					<p style="display:inline;"><% Scope.find(progre.scope_id).hack_tags.where('root_flag IS NULL OR root_flag = ?', false).each do |hack_tag|%><%= hack_tag.name %><%end%></p>
					<span class="ui-li-aside">
					<% if progre.user.present? %>
						<% if progre.user.screen_name.present? %><%= progre.user.screen_name %>
						<% else %><%= truncate progre.user.email, :length=>12 %>
						<% end %>
						<% if progre.user.image_url.present? %><%= image_tag progre.user.image_url, {:size=>'25x25'} %>
						<% else %><%= image_tag 'DummyImageURL.png', {:size=>'25x25'} %>
						<% end %>
					<% end %>
					</span>

					<% if progre.comment.present? %>
						<div style="display:inline-block; margin-top:-1px; width:95%; margin-right:10px; border-right:10px solid white; border-top:10px solid transparent;"><span style="padding:5px; float:right; margin-right:-15px; background:white;">
						<%= progre.comment %></span></div>
					<% end %>
				<%# end %>
				<%# end %>
				</li>
				<%# end %>
			<% end %>
		<% end %>
	</ul>
	<% else %>
	<ul data-role="listview" style="margin-top:15px;" data-divider-theme="e">
		<li data-role="list-divider">
			ログインすると、自分とみんなの履歴がみれるようになります。
		</li>
	</ul>
	<% end %>
	</div>
</div>

<% if user_signed_in? && current_user.scopes.length > 0 %>
<div data-role="page" id="RootHackTags">
	<div data-role="header" id="Header">
		<h3>何をやってますか?</h3>
		<a href="#YourScope">戻る</a>
	</div>
	<div data-role="content">
		<ul data-role="listview" data-divider-theme="e">
		<% @root_hack_tags.each do |root_hack_tag| %>
			<li style="" class="changePage" url="hack_tags/<%=root_hack_tag.id%>">
				<%# link_to(root_hack_tag) do %>
					<%= image_tag root_hack_tag.image_url, {'class'=>'ui-li-thumb'}%>
					<h3>
						<%= root_hack_tag.name %>
					</h3>

					<p style="margin-top:5px;">
						<% HackTagFollow.where(:greater_hack_tag_id=>root_hack_tag.id).each do |hacktagfollow| %>
							<%= HackTag.find(hacktagfollow.hack_tag_id).name %>, 
						<% end %>
					</p>
				<%# end %>
			</li>
		<% end %>
		</ul>
	</div>
</div>
<% end %>