<div data-role="page" id="YourScope">
	<div data-role="header" id="Header">
	<% if user_signed_in? %>
		<h1><%= current_user.screen_name %></h1>
		<%= link_to "ログアウト", destroy_user_session_path %>
	<% else %>
		<h1>LazyHackers</h1>
		<%= link_to "Sign up here", new_user_registration_path %>
	<% end %>
	<%= link_to "HOME", scopes_path %>
</div>
	<p class="notice" style="background:yellow; margin:0; font-weight:bold; padding-left:10px;">
		<%= notice %><%= alert %>
	</p>
	<div data-role="content">
	
	<%# HackTag.check_exit(HackTag.where(:id=>151)) %>
	<%#= Progre.check_dropout(User.where(:id=>1), HackTag.all) %>
	<%# UsersHacktag.update_from_progres(Progre.all) %>
	<%# Progre.from_updated_at_to_done_when %>
	<%# Progre.from_party_id_to_hack_tag_id %>

	<ul data-role="listview" data-divider-theme="e" data-split-theme="d" data-split-icon="delete" style="margin-bottom:15px;">
	<% if user_signed_in? && current_user.scopes.length > 0 %>
		<li data-role="list-divider">ただ今 挑戦中</li>

		<% @my_scopes.each do |my_scope, tf| %>
		<li>
		<% link_to(my_scope) do %>
			<%= image_tag my_scope.image_url, {'class'=>'ui-li-icon'} %>
			<p style="margin-left:20px; margin-top:0; margin-bottom:2px; font-weight:bold;">
			<% my_scope.hack_tags.each_with_index do |mhack_tag, i| %>
				<% if i > 0  %>
					<%= mhack_tag.name %>
				<% end %>
				<% if mhack_tag.root_flag == true && my_scope.hack_tags.where('root_flag IS NULL OR root_flag = ?', false).count == 0 %>
					<%= mhack_tag.name %>
				<% end %>
			<% end %>
			</p>
			<p class="ui-li-desc" style="margin-left:20px; margin-top:0; margin-bottom:0;">
				<% if tf %>やった<%else%>まだ<% end %>
			</p>
		<% end %>
		<%= link_to 'RemoveFromMyScope', my_scope.users_scopes.where(:user_id=>current_user.id).first, :confirm=>'このセットを消しますか？', :method=>:delete %>
		</li>
		<% end %>
		<li data-role="list-divider">
			他にも習慣ありますか？
		</li>
	<% else %>
	<li data-role="list-divider">何を習慣にしましょうか？</li>
	<% end %>
	</ul>

	<ul data-role="listview" data-divider-theme="e">
	<% @scopes.each do |scope| %>
		<li style="">
			<% link_to from_search_scope_path(scope) do %>
				<%= image_tag scope.hack_tags.first.image_url, {'class'=>'ui-li-thumb'}%>
				<h3>
					<%= scope.hack_tags.first.name %>
				</h3>
				
				<p style="margin-top:5px;">
					<% HackTagFollow.where(:greater_hack_tag_id=>scope.hack_tags.first.id).each do |hacktagfollow| %>
						<%= HackTag.find(hacktagfollow.hack_tag_id).name %>, 
					<% end %>
				</p>
				
			<% end %>
		</li>
	<% end %>
	</ul>
	
<!--
	<li data-role="list-divider">この中に、あなたが既に習慣化できていることはありませんか？</li>
	<li data-role="list-divider">現在、こんな習慣化に挑戦する貴方を応援する準備ができています。</li>
-->

</div>
	<div data-role="footer" data-id="foo1" id="Footer" data-position="fixed">
	<div data-role="navbar">
		<ul class="ui-grid-a">
			<li class="ui-block-a">	<%= link_to 'YourScope', '#YourScope'%></li>
			<li class="ui-block-b">	<%= link_to 'Feed', '#Feed'%></li>
		</ul>
	</div>
</div>
</div>

<div data-role="page" id="Feed">
	<div data-role="header" id="Header">
		<h1>Feed</h1>
		<% if user_signed_in? %>
			<%= link_to "Sign Out", destroy_user_session_path %>
		<% else %>
			<%= link_to "Sign up here", new_user_registration_path %>
		<% end %>
		<%= link_to "home", scopes_path %>
	</div>
	<div data-role="content">
		<ul data-role="listview" style="" data-filter="true">
			<% if user_signed_in? %>
			<% @feed_dates.each do |date| %>
				<li data-role="list-divider" style="height: 10px;">
					<span style="float:right;">
						<%= date[0] %>
					</span>
				</li>
				<% @feed.each do |progre| %>
					<% if date[0] == progre.done_when.strftime("%Y %m %d") %>
					<li>
					<% if progre.scope_id %>
					<% link_to (Scope.find(progre.scope_id)) do %>
						<%= image_tag 'brightness_from_glyphish.png', {'class'=>'ui-li-icon'}%>
						<h4 style="display:inline-block; margin:5px 0 0 0; font-size:90%;"><%= progre.done_when.hour %>時ごろ
</h4>
						<p style="display:inline;"><% Scope.find(progre.scope_id).hack_tags.where('root_flag IS NULL OR root_flag = ?', false).each do |hack_tag|%><%= hack_tag.name %><%end%></p>
						<span style="float:right;">
						<% if progre.user.present? %>
							<% if progre.user.screen_name.present? %><%= progre.user.screen_name %>
							<% else %><%= truncate progre.user.email, :length=>12 %>
							<% end %>
							<% if progre.user.image_url.present? %><%= image_tag progre.user.image_url, {:size=>'25x25'} %>
							<% else %><%= image_tag 'DummyImageUrl.png', {:size=>'25x25'} %>
							<% end %>
						<% end %>
						</span>
						
						<% if progre.comment.present? %>
							<div style="display:block; margin-top:-10px; width:80%; margin-right:10px; border-right:10px solid white; border-top:10px solid transparent;">
							<span style="padding:5px; float:right; margin-right:-15px; background:white;">
							<%= progre.comment %>
							</span>
							</div>
						<% end %>
					<% end %>
					<% else %>
						<%= image_tag 'brightness_from_glyphish.png', {'class'=>'ui-li-icon'}%>
						<h4 style="display:inline-block; margin:5px 0 0 0; font-size:90%;">
							<%= progre.done_when.hour %>時ごろ
						</h4>
						<p style="display:inline;">
							<%= progre.hack_tag.name %>
						</p>
						<span style="float:right;">
						<% if progre.user.present? %>
							<% if progre.user.screen_name.present? %>
								<%= progre.user.screen_name %>
							<% else %>
								<%= truncate progre.user.email, :length=>12 %>
							<% end %>
							<% if progre.user.image_url.present? %>
								<%= image_tag progre.user.image_url, {:size=>'25x25'} %>
							<% else %>
								<%= image_tag 'DummyImageUrl.png', {:size=>'25x25'} %>
							<% end %>
						<% end %>
						</span>
						
						<% if progre.comment.present? %>
							<div style="display:block; margin-top:-10px; width:80%; margin-right:10px; border-right:10px solid white; border-top:10px solid transparent;">
							<span style="padding:5px; float:right; margin-right:-15px; background:white;">
							<%= progre.comment %>
							</span>
							</div>
						<% end %>
					<% end %>
					</li>
					<% end %>
				<% end %>
			<% end %>
			<% else %>
				<li>
					サインインすると、自分とみんなの履歴がみれるようになります。
				</li>
			<% end %>
		</ul>
	</div>
	<div data-role="footer" data-id="foo1" id="Footer" data-position="fixed">
		<div data-role="navbar">
			<ul class="ui-grid-a">
				<li class="ui-block-a">	<%= link_to 'YourScope', '#YourScope'%></li>
				<li class="ui-block-b">	<%= link_to 'Feed', '#Feed'%></li>
			</ul>
		</div>
	</div>
</div>