<div data-role="page" id="Scope" data-add-back-btn="true" style="overflow:hidden;">
	<div data-role="header" id="Header">
		<h1><% if params[:from_search]=='true'%>何をやってますか？<%else%>
			<%@shack_tags.each do |ht|%><%=ht.name%><%end%><%end%></h1>
		<% if params[:from_search]=='true' %>
			<%= link_to '戻る', hack_tag_path(@scope.hack_tags.first) %>
		<% end %>
		<%# unless user_signed_in? %>
			<%#= link_to "ログイン", new_user_session_path %>
		<%# end %>
			<%= link_to "ホーム", scopes_path, {'class'=>'ui-btn-right'} %>
		
		<div data-role="navbar">
			<ul class="ui-grid-b">
				<% @shack_tags.each do |hack_tag| %>
				<li class="ui-block-<%=cycle('a','b','c')%>">
					<a href="#">
						<%= hack_tag.name %>
					</a>
					<%# form_tag search_scope_from_hack_tags_scope_path, {:id=>'Loosen', :method=>:post, :style=>'display:inline-block; height:35px; margin-left:-10px;', 'data-ajax'=>'false'} do %>
						<%= hidden_field_tag :add_flag, false %>
						<%= hidden_field_tag :scope_id, @scope.id %>
						<%= hidden_field_tag :hack_tag_id, hack_tag.id %>
						<% if user_signed_in? && current_user.scopes.exists?(:id=>@scope.id) %>
							<%= hidden_field_tag :from_your_set, true %>
						<% else %>
							<%= hidden_field_tag :from_your_set, false %>
						<% end %>
						<%#= submit_tag 'とりのぞく', {'data-icon'=>'delete', 'data-iconpos'=>'notext'} %>
					<%# end %>
				</li>
				<% end %>
				<% if params[:from_search]=='true' %>
				<li class="ui-block-c">
					<% form_tag search_scope_from_hack_tags_scope_path, {:method=>:post, :id=>'AddingHackTag', :style=>'display:inline-block; width:100%;'} do %>
						<%= hidden_field_tag :add_flag, true %>
						<%= hidden_field_tag :scope_id, @scope.id %>
						<% if user_signed_in? && current_user.scopes.exists?(:id=>@scope.id) %>
							<%= hidden_field_tag :from_your_set, true %>
						<% else %>
							<%= hidden_field_tag :from_your_set, false %>
						<% end %>
						<%= select_tag 'hack_tag_id', options_from_collection_for_select(@next_hack_tags, :id, :name), {:include_blank=>'さらに絞り込む', 'data-inline'=>'true', 'data-native-menu'=>'true',:id=>'AddHackTag'} %>
						<%#= submit_tag 'くわえる', {'data-inline'=>'true'} %>
					<% end %>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
	<p class="notice" style="background:yellow; margin:0; font-weight:bold; padding-left:10px;">
	<%= notice %><%= alert %>
	</p>
	<div data-role="content">
		
	<div id="DefiningScope">

	</div>
	
	<% if user_signed_in? %>
	<% form_tag create_hack_tag_and_hacks_scope_hack_tags_path, {:method=>:post, :id=>'WantingNewTag', :style=>'display:none;'} do %>
		<%= hidden_field_tag :wanting_new_tag, true %>
		<%= hidden_field_tag :this_scope_id, @scope.id %>
		<%= hidden_field_tag :singled_by, current_user.id %>
		<%= text_field_tag :name, '', {'placeholder'=>'追加したい言葉', 'data-theme'=>'e'} %>
		<%= text_field_tag :image_url, '', {'placeholder'=>'URL', 'style'=>'display:none;'}%>
		<%= submit_tag '追加', {'data-theme'=>''} %>
	<% end %>
	<% end %>
	
	<% if user_signed_in? && current_user.scopes.exists?(:id=>@scope.id) %>
	<% unless Progre.where('DATE(done_when)=?', Date.today).exists?(:user_id=>current_user.id, :success=>true, :scope_id=>@scope.id) %>
	<div id="CommitHere" style="display:block;">
		<% form_tag create_all_progre_path, {:method=>:post} do %>
		<%= submit_tag 'やったよ', :disable_with=>'処理中..' %>

			<% @hack_tags.each do |hack_tag| %>
				<%= hidden_field_tag "hack_tag_ids[]", hack_tag.id %>
			<% end %>
			
			<% @users.each do |user| %>
				<%= hidden_field_tag "user_ids[]", user.id %>
			<% end %>
			
			<%= hidden_field_tag :scope_id, @scope.id %>
			<%= hidden_field_tag :user_id, current_user.id %>
		<% end %>
	</div>
	<% end %>
	<% end %>
	
	<% if user_signed_in? && current_user.users_scopes.where(:scope_id=>@scope.id).blank? && flash[:from_your_set]=='true' %>
		<% form_for current_user.users_scopes.where(:scope_id=>flash[:current_set_id].to_i).last do |f| %>
			<%= f.hidden_field :user_id, {'value'=>current_user.id} %>
			<%= f.hidden_field :scope_id, {'value'=>@scope.id} %>
			<% @hack_tags.each do |hack_tag| %>
				<%= hidden_field_tag "hack_tag_ids[]", hack_tag.id %>
			<% end %>
			<%= f.submit '挑戦中のセットを上書きする' %>
		<% end %>
		<% form_for @users_scope do |f| %>
			<%= f.hidden_field :user_id, {'value'=>current_user.id} %>
			<%= f.hidden_field :scope_id, {'value'=>@scope.id} %>
			<% @hack_tags.each do |hack_tag| %>
				<%= hidden_field_tag "hack_tag_ids[]", hack_tag.id %>
			<% end %>
			<%= f.submit '新しくこのセットにも挑戦する' %>
		<% end %>
	<% elsif user_signed_in? && current_user.users_scopes.where(:scope_id=>@scope.id).blank? %>
		<% form_for @users_scope do |f| %>
			<%= f.hidden_field :user_id, {'value'=>current_user.id} %>
			<%= f.hidden_field :scope_id, {'value'=>@scope.id} %>
			<% @hack_tags.each do |hack_tag| %>
				<%= hidden_field_tag "hack_tag_ids[]", hack_tag.id %>
			<% end %>
			<% if flash[:temp] == 'true' %>
				<%= hidden_field_tag :temp, true %>
			<% end %>
			<%= f.submit 'ここで頑張る' %>
		<% end %>
	<% elsif !user_signed_in? %>
		<%= link_to '新規登録して参加', new_user_registration_path, {'data-role'=>'button'} %>
	<% end %>

	<div id="UsersInThisScope" style="margin-bottom:20px;">
		<div style="margin-top:10px;">
			<% if user_signed_in? && current_user.progres.where('DATE(done_when)=?', Date.today).exists?(:success=>true, :scope_id=>@scope.id) %>
			<div style="display:inline-block;" data-theme="e">
				<h4 style="margin:-20px -15px 0 0; padding:10px;">
					ここでは今日やってるよ！
				</h4>
			</div>
			<% elsif user_signed_in? && current_user.progres.exists?(:dropout=>true, :scope_id=>@scope.id)%>
				あなたはドロップアウトしてるよ。もう一度がんばってみる？
			<% end %>
		</div>
		
		<ul data-role="listview" data-divider-theme="e" style="margin-top:10px;">
			<li data-role="list-divider">みんなの様子</li>
			<% @users.each do |user| %>
			<li data-icon="false" style="height:52px;">
				<% link_to(user, "style"=>"text-decoration:none; display:inline-block; float:left;") do %>
					<% if user.image_url.present? %>
						<%= image_tag user.image_url, {:size=>'35x35', :class=>'ui-li-icon'} %>
					<% else %>
						<%= image_tag 'DummyImageURL.png', {:size=>'35x35', :class=>'ui-li-icon'} %>
					<% end %>
				<span style="display:inline-block; width:60px; margin-left:15px;">
					<% if user.screen_name.present? %>
						<%= user.screen_name %>
					<% else %>
						<%= truncate user.email, :length=>16 %>
					<% end %>
				</span>
				<% end %>
				<span style="display:inline-block; width:55px; padding:7px 10px 10px 15px;">
				<% if @five_am_issue.fetch(user.id) == true %>
					<%= image_tag 'button_done.png', {:size=>'50x27', :style=>'float:left;'} %>
				<% else %>
					<%= image_tag 'button_undone.png', {:size=>'50x27', :style=>'float:left;'} %>
				<% end %>
				<span style="color:gray; font-size:10px; float:right;">
					<% if user.progres.exists?(:hack_tag_id=>@scope.hack_tags.last.id, :success=>true) %>
						<%= time_ago_in_words(user.progres.where(:hack_tag_id=>@scope.hack_tags.last.id, :success=>true).last.done_when) %>前
					<% else %>
						やってないよ
					<% end %>
				</span>
				</span>
				<span class="ui-li-aside">
						<% if @five_am_issue.fetch(user.id) == true %>
						<% else %>
						<%= form_tag({:action=>'cheering'}, {:method=>:post})  do %>
						<%= submit_tag '応援', {:disable_with=>'処理中..', 'data-inline'=>'true'} %>
							<%= hidden_field_tag :scope_id, @scope.id %>
							<%= hidden_field_tag :user_id, user.id %>
						<% end %>
						<% end %>
				</span>
			</li>
			<% end %>
		</ul>
	</div>
	
	<% if user_signed_in? && current_user.id ==1 %>
		<%= link_to 'DestroyThisScope', @scope, :confirm => 'Are you sure?', :method => :delete %>
	<% end %>
	</div>

	<% if user_signed_in? %>
	<ul id="Comment" data-role="listview" style="margin-bottom:15px;">
		<li data-role="fieldcontain">
			<% form_tag add_comment_progre_path, {:method=>:post, :id=>'add_comment'} do %>

				<% @hack_tags.each do |hack_tag| %>
					<%= hidden_field_tag "hack_tag_ids[]", hack_tag.id %>
				<% end %>

				<%= text_field_tag :comment, '', {'placeholder'=>'ノウハウや成果'} %>
				<%= hidden_field_tag :scope_id, @scope.id %>
				<%= hidden_field_tag :current_user_id, current_user.id %>
				
				<%= submit_tag 'こんな風にやってるよ', {'data-icon'=>''} %>
			<% end %>
			<span data-role="button" id="TellUsYourKnowhow">
				あなたのやり方教えてください。
			</span>
		</li>
	</ul>
	<% end %>
	
	<ul data-role="listview" style="margin-top:-21px;" data-filter="true" data-filter-placeholder="みんなの履歴" data-divider-theme="e">
		<% @progres_dates.each do |date| %>
			<li data-role="list-divider" style="height:10px;">
				<span style="float:right;"><%= date[0] %></span>
			</li>
			<% @progres.each do |progre| %>
				<% if date[0] == progre.done_when.strftime("%Y %m %d") %>
				<li>
				<% if progre.scope_id %>
					<% link_to (Scope.find(progre.scope_id)) do %>
						<%= image_tag 'brightness_from_glyphish.png', {'class'=>'ui-li-icon'}%>
						<h4 style="display:inline-block; margin:5px 0 0 0; font-size:90%;"><%= progre.done_when.hour %>時ごろ
							</h4>
						<p style="display:inline;"><% Scope.find(progre.scope_id).hack_tags.where('root_flag IS NULL OR root_flag = ?', false).each do |hack_tag|%><%=hack_tag.name%><%end%></p>
						<span style="float:right;"><% if progre.user.present? %>
							<% if progre.user.screen_name.present? %><%= progre.user.screen_name %>
							<% else %><%= truncate progre.user.email, :length=>12 %>
							<% end %>
							<% if progre.user.image_url.present? %>
								<%= image_tag progre.user.image_url, {:size=>'25x25'} %>
							<% else %>
								<%= image_tag 'DummyImageURL.png', {:size=>'25x25'} %>
							<% end %>
							<% end %></span>
						<% if progre.comment.present? %><div style="display:block; margin-top:-1px; width:95%; margin-right:10px; border-right:10px solid white; border-top:10px solid transparent;"><span style="padding:5px; float:right; margin-right:-15px; background:white;"><%= progre.comment %></span></div><% end %>
					<% end %>
				<% end %>
				</li>
			<% end %>
			<% end %>
		<% end %>
	</ul>
</div>

<div data-role="page" id="ActionToUser">
	<div data-role="content">
		<ul data-role="listview" data-inset="true">
			<li data-role="list-divider">メニュー</li>
			<li id="Cheering">
			<%= form_tag({:action=>'cheering'})  do %>
				<%= hidden_field_tag :scope_id, @scope.id %>
				<%= hidden_field_tag :user_id, '' %>
				<%= submit_tag '応援する' %>
			<% end %>
			</li>
			<li id="SeeProfile"><%= link_to 'この人のプロフィールを見る', '/users/1/' %></li>
			<li><%= link_to '戻る', '#Scope' %></li>
		</ul>
	</div>
</div>