<div data-role="page" id="Scope">
<div data-role="header" id="Header">
	<h1>Party</h1>
	<% if user_signed_in? %>
		<%= link_to "Sign Out", destroy_user_session_path %>
	<% else %>
		<%= link_to "Sign up here", new_user_registration_path %>
	<% end %>
	<%= link_to "home", scopes_path %>
</div>

<p class="notice" style="background:yellow; margin:0; font-weight:bold; text-align:center;">
<%= notice %>
<%= alert %>
</p>

<div data-role="content">
	<div id="DefiningScope">
		<% if @hack_tags.blank? %>
			<h3>All LazyHackers</h3>
		<% end %>
		<% @hack_tags.each do |hack_tag| %>
			<h3 style="display:inline-block; font-size:200%; margin-top:0;"><%= hack_tag.name %>
			<% form_tag search_scope_from_hack_tags_scope_path, {:method=>:post, :style=>'display:inline-block; height:35px; margin-left:-10px;'} do %>
				<%= hidden_field_tag :add_flag, false %>
				<%= hidden_field_tag :scope_id, @scope.id %>
				<%= hidden_field_tag :hack_tag_id, hack_tag.id %>
				<%= submit_tag 'とりのぞく', {'data-icon'=>'delete', 'data-iconpos'=>'notext'} %>
			<% end %>
			</h3>
		<% end %>
		
		<div id="Focus" style="display:inline-block;">
			<% form_tag search_scope_from_hack_tags_scope_path, {:method=>:post} do %>
				<%= hidden_field_tag :add_flag, true %>
				<%= hidden_field_tag :scope_id, @scope.id %>
				<%= select_tag 'hack_tag_id', options_from_collection_for_select(HackTag.all - @hack_tags, :id, :name), {:include_blank=>'add more', 'data-inline'=>'true', 'data-native-menu'=>'false', :id=>'AddHackTag'} %>
				<%#= submit_tag 'くわえる', {'data-inline'=>'true'} %>
			<% end %>
		</div>
	</div>
	
	<div id="UsersInThisScope">
	<h3>皆の進捗</h3>
		<% if @hack_tags.blank? %>
			<% User.all.each do |user| %>
				<%= user.screen_name %>
				<%= user.email %>
				<% if user.progres.present? %>
					<%= user.progres.last.success %>
				<% else %>
					初参加
				<% end %>
			<% end %>
		<% else %>
			<% @users.each do |user| %>
			<li style="display:inline-block; padding:3px 10px;">
				<% if user.screen_name.present? %>
					<%= user.screen_name %>
				<% else %>
					<%= truncate user.email, :length=>16 %>
				<% end %>
				<br>
				<% link_to('#ActionToUser', "data-rel"=>"dialog", "data-transition"=>"pop", "style"=>"text-decoration:none;") do %>
				<% if user.image_url.present? %>
					<%= image_tag user.image_url, :size=>'40x40' %>
				<% else %>
					<%= image_tag 'DummyImageUrl.png', :size=>'40x40' %>
				<% end %>
				<% if user.progres.last.success == true %>
					<%= image_tag 'button_done.png', :size=>'72x40' %>
				<% else %>
					<%= image_tag 'button_undone.png', :size=>'72x40' %>
				<% end %>
				<% end %>
				<br>
				<span style="color:gray; font-size:11px; float:right;">
					<%= time_ago_in_words(user.progres.last.done_when) %> ago
				</span>
			</li>
			<% end %>
		<% end %>
	
	<h3>This Done is Viewed by...</h3>
	<% @followers.each do |follower| %>
		<% if follower.image_url.present? %>
			<%= image_tag follower.image_url, :size=>'25x25' %>
		<% else %>
			<%= image_tag 'DummyImageUrl.png', :size=>'25x25' %>
		<% end %>
	<% end %>
	</div>
	
	<div id="CommitHere">
		<% if user_signed_in? && current_user.users_scopes.where(:scope_id=>@scope.id).blank? %>
		<% form_for @users_scope do |f| %>
			<%= f.hidden_field :user_id, {'value'=>current_user.id} %>
			<%= f.hidden_field :scope_id, {'value'=>@scope.id} %>
			<%= f.submit 'このスコープを保存' %>
		<% end %>
		<% end %>
		
		<% unless @hack_tags.blank? %>
		<% form_tag create_all_progre_path, :method=>:post do %>
		<%= submit_tag 'やったよ' %>
		
			<% @hack_tags.each do |hack_tag| %>
				<%= hidden_field_tag "hack_tag_ids[]", hack_tag.id %>
			<% end %>
			
			<%= hidden_field_tag :scope_id, @scope.id %>
			<% if user_signed_in? %>
				<%= hidden_field_tag :user_id, current_user.id %>
			<% end %>
		<% end %>
		<% end %>
	</div>
	<% if user_signed_in? && current_user.id ==1 %>
		<%= link_to 'DestroyThisScope', @scope, :confirm => 'Are you sure?', :method => :delete %>
	<% end %>
</div>
<div data-role="footer" data-id="foo1" id="Footer" data-position="fixed">
	<div data-role="navbar">
		<ul class="ui-grid-a">
			<li class="ui-block-a">	<%= link_to 'Scope', '#Scope'%></li>
			<li class="ui-block-b">	<%= link_to 'History', '#History'%></li>
		</ul>
	</div>
</div>
</div>

<div data-role="page" id="History">
	<div data-role="header" id="Header">
		<h1>History</h1>
		<% if user_signed_in? %>
			<%= link_to "Sign Out", destroy_user_session_path %>
		<% else %>
			<%= link_to "Sign up here", new_user_registration_path %>
		<% end %>
		<%= link_to "home", scopes_path %>
	</div>
	<div data-role="content">
		<ul data-role="listview" style="">
		<% @progres.each do |progre| %>
				<li>
						<% if progre.user.present? %>
							<% if progre.user.image_url.present? %>
								<% if progre.user.screen_name.present? %>
									<%= progre.user.screen_name %>
								<% end %>
								<%= image_tag progre.user.image_url, {:size=>'25x25', 'class'=>'ui-li-icon'} %>
							<% else %>
								<% if progre.user.screen_name.present? %>
									<%= image_tag 'DummyImageUrl.png', {:size=>'25x25', 'class'=>'ui-li-icon'} %>
									<%= progre.user.screen_name %>
								<% else %>
									<%= image_tag 'DummyImageUrl.png', {:size=>'25x25', 'class'=>'ui-li-icon'} %>
									<%= truncate progre.user.email, :length=>12 %>
								<% end %>
							<% end %>
						<% else %>
							<%= image_tag 'DummyImageUrl.png', {:size=>'25x25', 'class'=>'ui-li-icon'} %>
						<% end %>
						
						<% Progre.all.each do |each_progre| %>
							<% if progre.done_when.strftime("%Y-%m-%d-%H-%M") == each_progre.done_when.strftime("%Y-%m-%d-%H-%M") %>
							<%= each_progre.hack_tag.name %>
							<% end %>
						<% end %>
						
						<span style="float:right;">
							<%= progre.done_when.hour %>時ごろ
						</span>
				</li>
		<% end %>
		</ul>
	</div>
	<div data-role="footer" data-id="foo1" id="Footer" data-position="fixed">
		<div data-role="navbar">
			<ul class="ui-grid-a">
				<li class="ui-block-a">	<%= link_to 'Scope', '#Scope'%></li>
				<li class="ui-block-b">	<%= link_to 'History', '#History'%></li>
			</ul>
		</div>
	</div>
</div>

<div data-role="page" id="ActionToUser">
	<div data-role="content">
		<ul data-role="listview" data-inset="true">
			<li data-role="list-divider">ActionMenu</li>
			<li>Cheer Him Up</li>
			<li>View His Profile</li>
			<li><%= link_to 'Cancel', '#Scope' %></li>
		</ul>
	</div>
</div>