<h2>ログイン</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email, '登録アドレス'  %><br />
  <%= f.email_field :email, :placeholder=>"登録したメールアドレス" %></div>

 <div><%= f.label :password, 'パスワード'%><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me,"ログインしたままにする" %></div>
  <% end -%>

  <div><%= f.submit "ログイン" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>


