<%= form_for(@users_scope) do |f| %>
  <% if @users_scope.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@users_scope.errors.count, "error") %> prohibited this users_scope from being saved:</h2>

      <ul>
      <% @users_scope.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :scope_id %><br />
    <%= f.text_field :scope_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
