<h1>Listing users_hacktags</h1>

<table>
  <tr>
    <th>User</th>
    <th>Hack tag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users_hacktags.each do |users_hacktag| %>
  <tr>
    <td><%= users_hacktag.user_id %></td>
    <td><%= users_hacktag.hack_tag_id %></td>
    <td><%= link_to 'Show', users_hacktag %></td>
    <td><%= link_to 'Edit', edit_users_hacktag_path(users_hacktag) %></td>
    <td><%= link_to 'Destroy', users_hacktag, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Users hacktag', new_users_hacktag_path %>
